table {
  border-collapse: collapse;
  width: 100%;
}

h1, h2
{
	text-align:center;
}

td 
{
	border: 1px solid #ddd;
	text-align: center;
	font-size: 22px;
	font-family: sans-serif;
	
}

.row
{
	background-color: white;
}

th
{
	border: 1px solid #000;
  text-align: center;
  padding: 8px;
  width: 120px;
}

.trow
{
  text-align: left;
  padding: 8px;
  width: 20px;
}

th
{
  background-color: #ad2c51;
  color: white;
}
