table {
  border-collapse: collapse;
  width: 100%;
}
h1, h2
{
	text-align:center;
}
td 
{
	border: 1px solid #ddd;
	/*text-align: center;*/
	font-size: 22px;
	font-family: sans-serif;
	pointer-events: none;
}
.hrow
{
	text-align: left;
	padding: 8px;
	width: 20px;
	pointer-events: none;
	
}
.hroww
{
	text-align: left;
	padding: 8px;
	width: 20px;
	pointer-events: none;
}

th
{
  border: 1px solid #000;
  /*text-align: center;*/
  padding: 2px;
  width: 140px;
  background-color: #ad2c51;
  color: white;
  pointer-events: none;
}
.trow
{
  text-align: center;
  /*padding: 8px;*/
  /*width: 20px;*/
  pointer-events: none;
  color: #032745;
  font-weight: bold;
  font-size: 20px;
}
.lrow
{
	width: fit-content;
        margin: auto;
}
.troww
{
  text-align: center;
  /*padding: 8px;*/
  /*width: 20px;*/
  pointer-events: none;
  color: #a18105;
  font-weight: bold;
  font-size: 20px;
}
tr
{
  pointer-events: none;
}
