table {
  border-collapse: collapse;
  width: 100%;
}

td 
{
  text-align: left;
  padding: 8px;
}

t
{
  text-align: left;
  padding: 8px;
  width: 150px;
}


th {
  background-color: #5fc9a9;
  color: white;
}
